.promo {
  width: 100%;
}
.promo__swiper {
  width: 100%;
  height: 680px;
}
@media (max-width: 1024px) {
  .promo__swiper {
    height: 488px;
  }
}
@media (max-width: 767px) {
  .promo__swiper {
    height: 260px;
  }
}
.promo__slide {
  width: 100%;
  height: 680px;
  overflow: hidden;
  position: relative;
}
@media (max-width: 1024px) {
  .promo__slide {
    height: 488px;
  }
}
@media (max-width: 767px) {
  .promo__slide {
    height: 260px;
  }
}
.promo__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.promo__text {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 5;
  left: 75px;
  bottom: 56px;
}
.promo__text br {
  display: none;
}
@media (max-width: 1279px) {
  .promo__text {
    left: 35px;
    bottom: 47px;
  }
}
@media (max-width: 768px) {
  .promo__text br {
    display: block;
  }
}
@media (max-width: 767px) {
  .promo__text {
    left: 20px;
    bottom: 32px;
  }
}
.promo__text span {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 27.24px;
  color: #ffffff;
  letter-spacing: 0.01rem;
  padding-left: 5px;
}
.promo__text h1 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 800;
  font-size: 64px;
  line-height: 87.17px;
  color: #ffffff;
  text-transform: uppercase;
}
@media (max-width: 1279px) {
  .promo__text h1 {
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
  }
  .promo__text span {
    font-size: 16px;
    line-height: 21.79px;
  }
}
@media (max-width: 767px) {
  .promo__text span {
    font-size: 14px;
    line-height: 19.07px;
  }
  .promo__text h1 {
    font-size: 28px;
    line-height: 33.6px;
  }
}
.promo__pagination {
  width: fit-content !important;
  left: 72px !important;
  bottom: 34px !important;
}
@media (max-width: 1279px) {
  .promo__pagination {
    left: 35px !important;
    bottom: 31px !important;
  }
}
@media (max-width: 767px) {
  .promo__pagination {
    left: 20px !important;
    bottom: 16px !important;
  }
}
.promo__pagination span {
  width: 10px;
  height: 10px;
  margin: 8px;
  background: #ffffff;
}
@media (max-width: 1279px) {
  .promo__pagination span {
    width: 8px;
    height: 8px;
  }
}
.promo__next::after,
.promo__prev::after {
  font-size: 34px !important;
  color: #ffffff;
}
.promo__prev {
  left: var(--swiper-navigation-sides-offset, 42px);
  right: auto;
}
.promo__next {
  right: var(--swiper-navigation-sides-offset, 40px);
  left: auto;
}
@media (max-width: 1024px) {
  .promo__next,
  .promo__prev {
    display: none;
  }
}
/*---services---*/
.services {
  width: 100%;
}
.services__wrapper {
  padding-top: 80px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 384px));
  gap: 32px;
}
.services__item {
  width: 100%;
  max-height: 213px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 36px;
  box-shadow: 0px 0px 32px 0px #0000000a;
}
.services__item p {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  color: #00043c;
}
.services__item-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.services__item-top h3 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.8px;
  color: #00043c;
}
.services__item-top img {
  width: 80px;
  height: 80px;
}
.services__item-white {
  background: #00043c;
}
.services__item-white h3 {
  color: #ffffff;
}
.services__item-white img {
  width: 44px;
  height: 44px;
}
/*---advantages---*/
.advantages {
  width: 100%;
}
.advantages__wrapper {
  padding-top: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.advantages__wrapper h2 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 800;
  font-size: 48px;
  line-height: 65.38px;
  color: #00043c;
  text-transform: uppercase;
}
.advantages__inner {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 405.33px));
}
.advantages__box {
  width: 100%;
  height: 200px;
  padding: 32px 20px;
  box-sizing: border-box;
}
.advantages__item {
  width: 100%;
  display: flex;
  gap: 24px;
}
.advantages__item img {
  width: 80px;
  height: 80px;
}
.advantages__text {
  max-width: 261.33px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.advantages__text h3 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.8px;
  color: #00043c;
  margin-top: 8px;
}
.advantages__text p {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  color: #00043c;
}
.advantages__box_gray {
  background: #ebecf0;
}
.advantages__box_yellow {
  background: #ffc13a;
}
.advantages__box_blue {
  background: #00043c;
}
.advantages__text_white h3,
.advantages__text_white p {
  color: #ffffff;
}
/*---achievements---*/
.achievements {
  width: 100%;
}
.achievements__wrapper {
  padding-top: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.achievements__title {
  max-width: 904px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.achievements__title h2 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 800;
  font-size: 48px;
  line-height: 57.6px;
  color: #00043c;
  text-transform: uppercase;
}
.achievements__title h3 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28.8px;
  color: #00043c;
}
.achievements__inner {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 384px));
  gap: 32px;
}
.achievements__item {
  width: 100%;
  height: 512px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 32px 0px #0000000a;
}
.achievements__item img {
  width: 384px;
  height: 252px;
}
.achievements__text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px 25px 20px 20px;
  box-sizing: border-box;
}
.achievements__text h4 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  color: #00043c;
}
.achievements__text p {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  color: #00043c;
}
/*---yellow---*/
.yellow {
  width: 100%;
  background: #ffc13a;
  margin-top: 64px;
}
.yellow__wrapper {
  padding-top: 56px;
  padding-bottom: 56px;
  box-sizing: border-box;
}
.yellow__inner {
  display: flex;
  align-items: center;
  gap: 119px;
  width: fit-content;
  margin: 0 auto;
}
.yellow__item {
  display: flex;
  align-items: center;
  gap: 28px;
}
.yellow__item h2 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 800;
  font-size: 80px;
  line-height: 96px;
  color: #00043c;
}
.yellow__item h3 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.8px;
  color: #00043c;
  text-transform: uppercase;
  margin-top: 20px;
}
/*---gallery---*/
.gallery {
  width: 100%;
}
.gallery__wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 592px));
  gap: 32px;
}
.gallery__item {
  width: 100%;
  height: 396px;
  position: relative;
}
.gallery__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery__text {
  position: absolute;
  left: 24px;
  bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.gallery__text span {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  color: #ffffff;
}
.gallery__text h3 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.8px;
  color: #ffffff;
  letter-spacing: 0.01rem;
}
