@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background: #faf9f8;
  position: relative;
}
body.lock {
  overflow: hidden;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  cursor: pointer;
}
.page {
  margin: 0 auto;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  border-radius: 0 0 32px 32px;
}
.container {
  max-width: 1366px;
  width: 100%;
  padding-left: 75px;
  padding-right: 75px;
  box-sizing: border-box;
  margin: 0 auto;
}
.header {
  width: 100%;
  background: #00043c;
}
.header__wrapper {
  width: 100%;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  font-family: "Noto Sans", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 32.69px;
  color: #ffffff;
  letter-spacing: 0.04rem;
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header__list {
  display: flex;
  align-items: center;
  gap: 26px;
}
.header__list li a {
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21.79px;
  color: #ffffff;
}
.header__list li a.active {
  color: #ffc13a;
}
.header__search {
  width: 280px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff;
}
.header__search-button {
  width: 22px;
  height: 24px;
  background: transparent;
  border: none;
}
input,
textarea {
  outline: none;
  border: none;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21.79px;
}
.header__search-input::-webkit-input-placeholder {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.79px;
  color: #ffffff;
}
.header__search-input:-moz-placeholder {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.79px;
  color: #ffffff;
}
.header__search-input::-moz-placeholder {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.79px;
  color: #ffffff;
}
.header__search-input:-ms-input-placeholder {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.79px;
  color: #ffffff;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}
.header__search-input {
  width: 100%;
  height: 100%;
  background: transparent;
  color: #ffffff;
  border: none;
}
.header__social {
  width: 40px;
  height: 40px;
}
.header__social img {
  width: 100%;
  height: auto;
}
/*---top-contact---*/
.top-contact {
  width: 100%;
  background: url(../images/top-contact.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.top-contact__wrapper {
  width: 100%;
  padding-top: 78px;
  padding-bottom: 28px;
  box-sizing: border-box;
}
.top-contact__wrapper h1 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 800;
  font-size: 48px;
  line-height: 65.38px;
  color: #ffffff;
  text-transform: uppercase;
}
/*---main-contact---*/
.main-contact {
  width: 100%;
}
.main-contact__wrapper {
  width: 100%;
  display: flex;
  padding-top: 64px;
  padding-bottom: 120px;
  box-sizing: border-box;
}
.form-contact {
  width: 488px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form-contact h2 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 38.4px;
  color: #00043c;
  letter-spacing: 0.04rem;
  margin-bottom: 20px;
}
.form-contact__input {
  width: 100%;
  height: 48px;
  background: #eff5fb;
  border-radius: 5px;
  padding: 12px;
  box-sizing: border-box;
}
.form-contact__input::-webkit-input-placeholder {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.79px;
  color: #00043c;
}
.form-contact__input:-moz-placeholder {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.79px;
  color: #00043c;
}
.form-contact__input::-moz-placeholder {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.79px;
  color: #00043c;
}
.form-contact__input:-ms-input-placeholder {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.79px;
  color: #00043c;
}
.form-contact__textarea {
  width: 100%;
  height: 120px;
  border-radius: 5px;
  background: #eff5fb;
  padding: 12px;
  box-sizing: border-box;
  resize: none;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21.79px;
  color: #00043c;
}
.form-contact__textarea::-webkit-input-placeholder {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.79px;
  color: #00043c;
}
.form-contact__textarea:-moz-placeholder {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.79px;
  color: #00043c;
}
.form-contact__textarea::-moz-placeholder {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.79px;
  color: #00043c;
}
.form-contact__textarea:-ms-input-placeholder {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.79px;
  color: #00043c;
}
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea:focus:-moz-placeholder {
  color: transparent;
}
textarea:focus::-moz-placeholder {
  color: transparent;
}
textarea:focus:-ms-input-placeholder {
  color: transparent;
}
.form-contact__button {
  margin-top: 12px;
  width: 100%;
  height: 48px;
  border-radius: 5px;
  background: #00043c;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 21.79px;
  color: #ffffff;
}
.form-contact__confidentiality {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  color: #00043c;
}
.form-contact__confidentiality a {
  color: #00043c;
  display: inline;
  border-bottom: 0.5px solid #00043c;
}
